@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #cecbc5;
}

.container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  display: flex;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
.line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-miterlimit: 10;
}
.line-2 {
  stroke: #e5803d;
}

#title {
  top: -999px;
  position: absolute;
  /* (C) CSS ANIMATION */
  transition: all 1.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  visibility: hidden;
}
#title.show {
  top: 5px;
  visibility: visible;
}
#chartLine {
  width: 100%;
}
