@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: grey;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
.line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-miterlimit: 10;
}

#title {
  top: -999px;
  position: fixed;
  /* (C) CSS ANIMATION */
  transition: all 1s;
  visibility: hidden;
}
#title.show {
  top: 5px;
  visibility: visible;
}
